.slideshow {
    margin: 0 auto;
    margin-top: 3%;
    overflow: hidden;
    max-width: 70%;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    margin: -80px; 
    /* margin-top: -50px;
    margin-bottom: -50px; */
    margin-bottom: 0;
    /* margin: 0 auto; */
  }
  
  .slide {
    /* display: inline-block; */
    margin-bottom: 10px;
    /* height: 400px; */
    /* width: 100%; */
    /* border-radius: 40px; */
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 0px 7px 0px;
  
    background-color: #ffffff;
    border: 1px solid black;
  }
  
  .slideshowDot.active {
    background-color: #000000;
  }

  .image{
    border: 1px solid black;
    width: 79%;
  }